.add-task-container .add-task-btn {
  margin-top: 1rem;
  margin-left: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 400;
  padding: 5px 10px;
  background-color: rgba(58, 90, 64, 0.9);
  transition: all 0.5s ease-in-out;
  width: 9rem;
  height: 2rem;
  color: #fff;
  font-size: 0.8rem;
  -webkit-box-shadow: 1px 5px 13px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 5px 13px 3px rgba(0, 0, 0, 0.2);
}

.add-task-container .add-task-btn:hover {
  border: 1px solid rgba(58, 90, 64, 0.9);
  background-color: #fff;
  font-weight: 400;
  color: #000;
  transition: all 0.5s ease-in-out;
}

.tasks-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
