.task-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 29rem;
  height: 27rem;
  border: 1px solid rgba(58, 90, 64, 0.9);
  margin: 1rem;
  padding: 2rem;
}

.task-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  color: rgba(58, 90, 64);
  overflow: auto;
}

.task-container-main div span {
  color: #000;
  font-weight: 500;
  padding-right: 0.5rem;
}

.task-container-main .actions-container {
  display: flex;
  gap: 2rem;
}

.task-container-main .actions-container .select-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-container-main .actions-container .select-container {
  font-weight: 500;
}

.task-container-main .actions-container select {
  padding: 0.3rem;
  border: 1px solid rgba(58, 90, 64);
}

.task-container-main .btn-container {
  display: flex;
  gap: 1rem;
}

.task-container-main .action-btn {
  border: none;
  cursor: pointer;
  font-weight: 400;
  padding: 5px 10px;
  background-color: rgba(58, 90, 64, 0.9);
  transition: all 0.5s ease-in-out;
  width: 6rem;
  height: 2rem;
  align-self: center;
  color: #fff;
  font-size: 0.8rem;
  -webkit-box-shadow: 1px 5px 13px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 5px 13px 3px rgba(0, 0, 0, 0.2);
}

.task-container-main .action-btn:hover {
  border: 1px solid rgba(58, 90, 64, 0.9);
  background-color: #fff;
  font-weight: 400;
  color: #000;
  transition: all 0.5s ease-in-out;
}
