.employee-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(58, 90, 64, 0.9);
  margin: 1rem;
  padding: 2rem;
}

.employee-details-container .employee-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.employee-details-container .employee-data div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  color: rgba(58, 90, 64);
}

.employee-details-container .employee-data div span {
  color: #000;
  font-weight: 500;
  padding-right: 0.5rem;
}

.employee-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
}

.employee-actions .action-btn {
  border: none;
  cursor: pointer;
  font-weight: 400;
  padding: 5px 10px;
  background-color: rgba(58, 90, 64, 0.9);
  transition: all 0.5s ease-in-out;
  width: 7rem;
  height: 2rem;
  align-self: center;
  color: #fff;
  font-size: 0.8rem;
  -webkit-box-shadow: 1px 5px 13px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 5px 13px 3px rgba(0, 0, 0, 0.2);
}

.employee-actions .action-btn:hover {
  border: 1px solid rgba(58, 90, 64, 0.9);
  background-color: #fff;
  font-weight: 400;
  color: #000;
  transition: all 0.5s ease-in-out;
}

.task-header {
  width: 15rem;
  margin: 1rem;
  color: rgba(58, 90, 64, 0.9);
}

.task-header .title {
  margin-bottom: 0.5rem;
}

.task-header hr {
  border: none;
  border-top: 1px solid rgba(58, 90, 64, 0.9);
  height: 0;
}

.employee-tasks-container .tasks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .employee-details-container .employee-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .employee-details-container .employee-data div {
    display: flex;
    flex-direction: row;
  }
}
